

.mainQuery {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    flex-direction: column;
    padding: 10px 0;
    margin-bottom: 10px;

}
.input_and_click {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text_input {
    margin-right: 5px;
}